
.detail-bar {
  display: none;
  justify-content: center;
}

.details-panel{
  height: 100%;
  width: 0;                       
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: all 1.0s ease;
  background-color: #fff;
  color:#000;
  align-self: center;
}

.details-panel.open {
  width: 250px;
}

.details-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin:5px;
  background-color: #ffc857;
  border-bottom: 1px solid #ddd;
  color:#333;
}

.right-header h3 {
  margin: 0;
  font-family: "Arvo", sans-serif;
  font-size: 18px;
}

.close-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #db3a34;;
}

/* Contenido de detalles */
.details-content {
  padding: 20px;
  font-family: "Arvo", sans-serif;
  color: #333;
  display: flex;
  justify-content: center;
  flex-direction: column ;
  align-items: center;
}

.details-content p {
  margin: 10px 0;
}

.toggle-detail-btn{
  border:none ;
  border-radius: 5px;
  align-self: center;
  color: #fff;
  background-color: #e35327;
}

.toggle-detail-btn:hover{

  cursor: pointer;
  background-color: #023047;
  border: solid #000;
  color: #ffc857;

}

/* En pantallas pequeñas, tal vez queramos ocupar el 100% de ancho */
@media (max-width: 768px) {
  .sidebar-right.open {
    width: 100%;
  }
}


