.map-container{
    width: 800px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff ;
}

.maps-btn{
    border: none;
    border-radius: 80px;
    background-color: #fff;
}

.maps-btn:hover{
    cursor: pointer;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}