@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+3:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Source+Sans+3:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');


body{
    background-color: #023047;
}

.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1, h2, h3{
    font-family: "Poppins", 'arvo';
}

a{
    text-decoration: none;
}

.dashboard-wrapper{
    display: flex;
    flex-direction: column;
}

.btn-open-modal{
    width: 48px;
    height: 48px;
    padding: 2px;
    border: none;
    border-radius: 50%;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #e35327;
    background-color: #fff;
    font-family: 'Poppins';

}

.btn-open-modal:hover{
    cursor: pointer;
    border:solid 3px;
    background-color: #ffc857;
    box-shadow: 4px 0 20px rgba(0, 0, 0, 0.3);
    color:#023047;
}

.btn-open-model:hover .plus-modal{
    fill: #023047;
}
